celery[redis]>=5.3,<6
SQLAlchemy>=2.0,<3
python-dotenv>=1.0,<2
psycopg2-binary>=2.9,<3
google-api-python-client>=2.100,<3
google-auth-oauthlib>=1.0,<2
requests>=2.31,<3
boto3>=1.34,<2
fastapi>=0.111,<1
python-multipart>=0.0.9,<1
uvicorn[standard]>=0.30,<1
tweepy>=4.14,<5
